.navbar{
    background-color: rgb(165, 165, 50) !important;
    margin-top: 20px !important;
    margin-left: 5px !important;
}
.card{
    background-color: rgb(165, 165, 50) !important;
    margin-top: 20px !important;
    margin-left: 20px !important;
}